#ball {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  /*width: 50%;*/
  margin: 0 auto;
}

#field {
  height: 100%;
	width: 100%;
  background-image: url(JarvisBackround.png);
}

/*#test {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: blue;
  top: 50%;
  left: 75%;
}*/
