.body{
     background-color: #010811;
     font-family: 'Source Code Pro', monospace;
}

#appName {

     font-size: 5em;
     text-align: center;
     color: #00D9E9;
}

#start{
  margin-top: 350px;
  position: fixed;
  z-index: 1;
  margin-left: 650px;

}

.row{
  display: inline;
}

#title{
  margin-top: 20px;
}

#img{
  /*border: 3px solid green;*/
  top: 0;
}

#introtext{
  margin-top: 40px;
  font-size: 25px;
}

#intro{
  color: #d1ebfc
  /*font-size: 30px;*/
}

#startButton{
     height: 3em;
     width: 30%;
     font-size: 1em;
     align-content: center
     margin: 5em;
     /*display: block;*/
     margin-left: 50%;
     margin-top: 15%;
}

.answerButtons{
    position: absolute;
     height: 5em;
     width: 15%;
     margin-right: 20%;
     top: 50%;
     right:-50px
}
.pure-button
{
  border: 3px solid green;
}


#questionsPage{
     background-color: #000000;
}

#ball {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  /*width: 50%;*/
  margin: 0 auto;
  z-index: 0;
}

#field {
  height: 100%;
	width: 100%;
  background-image: "images/JarvisBackround.png";
}

#questionDiv
{
  color: white;
  font-size: 40px;
}
